@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    cursor: url("./static/images/pencil.png"),aut;
}

::selection{
    background-color: var(--gray);
    color: var(--light)
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
} 

::-webkit-scrollbar-track {
    background: var(--light);
}
  
::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 30px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--gray);
}

:root{
    --dark: #27374D;
    --gray: #526D82;
    --lgray: #9DB2BF;
    --light: #DDE6ED;
}


.hsec1{
    position: relative;
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
}

.hsecb1 h1{
    font-size: 5em;
    font-family: "Italianno", cursive;
    font-weight: 400;
    color: goldenrod;
    transition: .5s;
}

.hsecb1 p{
    text-align: center;
    text-transform: uppercase;
    color: var(--dark);
    font-weight: 600;
    font-size: 2em;
}

.hsecb1 button{
    margin: 50px 40px 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px var(--dark);
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
    transition: .5s;
}

.bts1{
    background-color: var(--lgray);
    color: var(--light);
}

.bts2{
    background-color: var(--gray);
    color: var(--light);
}

.hsecb2{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hsecb2 span{
    background-color: var(--dark);
    color: var(--light);
    padding: 10px;
    border-radius: 5px;
}

.hsecb2 img{
    transition: 2s;
    width: 300px;
    margin: 10% 40px 40px;
}


.course{
    width: 99vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("./static/images/bgs3.jpg");
    background-position: center;
    background-size: cover;
}

.course h2{
    text-align: center;
    text-transform: uppercase;
    color: var(--dark);
}

.cor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 36%;
}

.cor1{
    box-shadow: 0 0 4px var(--dark);
    background-color: white;
    border-radius: 8px;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cor-line{
    height: 130px;
}

.cor1 h3{
    color: var(--dark);
    text-align: center;
    margin-bottom: 20px;
}

.cor1 i{
    color: var(--gray);
}

.cor-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cor1 ul{
    list-style: none;
    line-height: 2;
}

.minisec{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 99vw;
    height: 40vh;
    color: var(--light);
    background-color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
.minbox1{
    position: relative;
    top: 12%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: start;
    margin: 20px 20px 10px;
    padding: 10px;
}


.minbox2b{
    margin-left: 20px;
}
.minbox2b p{
    margin-bottom: 15px;
}

.minbox2b p:nth-last-child(2){
    
    line-height: 1.5;
}

.minp1{
    letter-spacing: 1.2px;
    font-size: 15px;
    font-weight: 600;
}

.minp2{
    font-size: 14px;
}

.minbox2 img{
    width: 40px;
    color: white;
}


.hsec3{
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 80vh;
    background-color: var(--dark);
    color: var(--light);
}

.sec3up{
    position: relative;
    top: 18%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
}

.sec3up h1{
    flex: 1;
    position: relative;
    left: 5%;
    color: white;
    font-size: 32px;
    font-weight: bolder;
}

.sec3up h1 span{
    border-bottom: 3px solid var(--gray);
    color: var(--light);
}

.sec3up p{
    flex: 1;
    font-size: 14px;
    line-height: 1.4;
    text-align: justify;
    padding-right: 45px;
}

.sec3dn{
    position: relative;
    top: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.db1{
    width: 25%;
}

.db11{
    color: rgb(252, 252, 65);
}
.db12{
    color: rgb(231, 37, 205);
}

.db1 p{
    line-height: 1.4;
    letter-spacing: .9px;
    font-size: 14px;
}

#dnspan1{
    color: rgb(143, 216, 33);
}

#dnspan2{
    color: rgb(206, 61, 4);
}


.hsec5{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.qusl img{
    width: 500px;
}

.qusr{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.qusr h2{
    margin: 20px 0;
    color: var(--gray);
}

.qusr p{
    margin-bottom: 20px;
    position: relative;
    left: 5%;
    line-height: 1.5;
}

.chhos1{
    position: relative;
    left: 10%;
    line-height: 1.7;
}

.chhos1 ul li{
    list-style: none;
}
.fa-arrow-right{
    color: var(--dark);
}

.hsec4{
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    background-image: url("./static/images/Untitled\ design\ \(1\)\ \(1\).png");
    background-position: center;
    background-size: 2250px;
}

.hform form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(130deg, rgba(2,0,36,1) 0%, var(--dark) 35%, rgba(0,212,255,1) 100%);
    color: white;
    border-radius: 10px;
    width: 70vw;
    height: 70vh;
}

.formdiv1{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.form-group-home{
    margin: 20px;
}

.form-group-home input{
    padding: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: var(--light);
    width: 280px;
    background-color: transparent;
}

.form-group-home input::placeholder{
    color: var(--lgray);
}

hr{
    height: 80%;
    color: gray;
}

.form-group-home select{
    padding: 8px;
    border: none;
    outline: none;
    color: white;
    border-bottom: 1px solid white;
    width: 280px;
    background-color: transparent;
}

.form-group-home select option{
    background: var(--gray);
}

.form-group-home button{
    padding: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    border-radius: 20px;
    background-color: var(--gray);
    color: var(--light);
    border: none;
}

.form-group-home button:hover{
    border: 1px solid var(--light);
}

.review{
    margin: 6% auto;
    width: 99vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: var(--light); */
}

.rform{
    border: 1px solid gray;
    padding: 25px;
    width: 70%;
}

.rform form{
    display: flex;
    flex-direction: column;
}

.rform form .divr-l{
    margin: 30px 17%;
}

.rform form .divr-l input{
    margin: auto 30px 0 auto;
    padding: 10px;
    border-radius: 5px;
    border: .1px solid var(--dark);
    color: var(--dark);
    outline: none;
}

.rform form .divr-r{
    display: flex;
    flex-direction: column;
}

.rform form .divr-r input, .rform form .divr-r textarea{
    width: 70%;
    resize: none;
    margin-left: 14%;
    margin-bottom: 7%;
    padding: 5px;
    border-radius: 5px;
    border: .1px solid var(--dark);
    outline: none;
}

.rform form .divr-r label{
    text-align: center;
    margin-bottom: 5px;
}

.rform form button{
    margin: auto;
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--gray);
    color: var(--light);
}


.rform form button:hover{
    transition: .5s all ;
    border-radius: 20px;
    background-color: var(--dark);
}


.basecon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--dark);
    color: white;
    margin-top: 20px;
}

.basecon1{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.basecon1 h2{
    margin: 10px 0;
    color: whitesmoke;
}

.basecon1 p{
    line-height: 1.5;
    margin-bottom: 10px;
}

.basecon1 p b{
    margin-right: 10px;
}

.basecon1 a{
    color: var(--light);
}

.basemail{
    display: flex;
}

.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social h2{
    padding: 15px;
}

.somenu{
    padding: 15px;
    max-height: fit-content;
}

.somenu img{
    width: 70px;
    transition: .2s all linear;
}

.somenu img:hover{
    margin-bottom: 10px;
    margin-top: -10px;
    transition: .3s all linear;
}

footer{
    background-color: var(--gray);
}

footer p,a{
    padding: 5px;
    text-decoration: none;
    color: var(--light);
    text-align: center;
}