*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}

.navbar{
    background-color: rgb(252, 240, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-l{
    margin: 15px 20px;
}
.nav-r ul{
    display: flex;
    list-style: none;
}

.nav-r ul li{
    margin: 10px;
}
.nav-bar{
    display: none;
}
.nav-bar img{
    width: 30px;
    margin: auto 20px;
}

.show{
    display: block;
}
@media screen and (max-width:852px) {
    a{
        color: white;
    }
    .navbar{
        background-color: black;
        color: white;
        position: relative;
    }
    .show{
        display: block;
    }

    .nav-r ul{
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: black;
        height: fit-content;
        right: 0;
        top: 110%;
    }
    .nav-r ul li{
        margin-bottom: 30px;
    }
    .nav-bar{
        display: block;
    }
}