@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --dark: #27374D;
    --gray: #526D82;
    --lgray: #9DB2BF;
    --light: #DDE6ED;
}
.hsec1{
    position: relative;
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
}

.hsecb1 h1{
    font-size: 5em;
    font-family: "Italianno", cursive;
    font-weight: 400;
    color: goldenrod;
    transition: .5s;
}

.hsecb1 p{
    text-align: center;
    text-transform: uppercase;
    color: var(--dark);
    font-weight: 600;
    font-size: 2em;
}

.hsecb1 button{
    margin: 50px 40px 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px var(--dark);
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
    transition: .5s;
}

.bts1{
    background-color: var(--lgray);
    color: var(--light);
}

.bts2{
    background-color: var(--gray);
    color: var(--light);
}

.hsecb2{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hsecb2 span{
    background-color: var(--dark);
    color: var(--light);
    padding: 10px;
    border-radius: 5px;
}

.hsecb2 img{
    transition: 2s;
    width: 300px;
    margin: 10% 40px 40px;
}

.minisec{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 99vw;
    height: fit-content;
    color: var(--light);
    background-color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
.minbox1{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: start;
    margin: 20px 20px 10px;
    padding: 10px;
}


.minbox2b{
    margin-left: 20px;
}
.minbox2b p{
    margin-bottom: 10px;
}

.minp1{
    letter-spacing: 1.2px;
    font-size: 15px;
    font-weight: 600;
}

.minp2{
    font-size: 14px;
}

.minbox2 img{
    width: 40px;
    color: white;
}


.hsec3{
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 80vh;
    background-color: var(--dark);
    color: var(--light);
}

.sec3up{
    position: relative;
    top: 18%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
}

.sec3up h1{
    flex: 1;
    position: relative;
    left: 5%;
    color: white;
    font-size: 32px;
    font-weight: bolder;
}

.sec3up h1 span{
    border-bottom: 3px solid var(--gray);
    color: var(--light);
}

.sec3up p{
    flex: 1;
    font-size: 14px;
    line-height: 1.4;
    text-align: justify;
    padding-right: 45px;
}

.sec3dn{
    position: relative;
    top: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.db1{
    width: 25%;
}

.db11{
    color: rgb(252, 252, 65);
}
.db12{
    color: rgb(231, 37, 205);
}

.db1 p{
    line-height: 1.4;
    letter-spacing: .9px;
    font-size: 14px;
}

#dnspan1{
    color: rgb(143, 216, 33);
}

#dnspan2{
    color: rgb(206, 61, 4);
}

.hsec4{
    height: 100vh;
    width: 100vw;
}

.hsec5{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.qusl img{
    width: 500px;
}

.qusr{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.qusr h2{
    margin: 20px 0;
    color: var(--gray);
}

.qusr p{
    margin-bottom: 20px;
    position: relative;
    left: 5%;
    line-height: 1.5;
}

.chhos1{
    position: relative;
    left: 10%;
    line-height: 1.7;
}

.chhos1 ul li{
    list-style: none;
}
.fa-arrow-right{
    color: var(--dark);
}