{% extends 'base.html' %}
{% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}
<div class="about">
    <h2>About us</h2>
    <div class="about-box">
        <div>
            <p><span>Nivedita Eduinfotrends</span> Private Limited is the fast growing Educational Company aiming at providing quality education to the mass of 
                all categories to achieve their dreams.It had a mission of providing the required skills to the youth and get them employed and make them settle in a decent and dignified life. 
                We welcome everyone - regardless of background or circumstances. Come as you are and we'll help you get where you want to go..</p>
            
            <a href="#about"><button class="aboutBtn">Learn more</button></a>
        </div>
        <img src="{% static 'images/about.jpg' %}" alt="">
    </div>
</div>
<div class="about2">
    <p id="about">NIVEDITA ACADEMY is run by Nivedita Eduinfotrends Private Limited. It has been functioning since 2011. Prof.Sethuram, MA (ENGLISH); M.Ed; PGDTE is the Managing Director of the company. Mrs Nivedita B.E (IT); MBA; M.Phil.; and  Mr. Raj Kishore Kumar B.E; M.E;(USA) are other Directors. The company has been functioning with the vision of providing coaching, and training skills required to the students to make them employable for their decent and dignified life.
        Prof.Sethuram is a teacher and an educationist. He has obtained PGDTE in Central Institute of English and Languages, Hyderabad. He is a teacher trainer and a corporate trainer. He has conducted many programmes to the students. Many students are benefitted from him in learning Modern Grammar, Phonetics and pronunciation, etc.; More than 1000 students work, study and settle abroad having secured excellent score in IELTS, PTE, TOEFL and OET. He has given training programmes to  teachers working in Schools and colleges. He is a versatile person to teach various subjects required for competitive examinations such as English, History, Polity, Economics, Geography, Law and Educational Psychology.</p>
</div>
<script>
    let btn =document.querySelector(".aboutBtn")
    btn.addEventListener("click",abShow)

    function abShow(){
        let btn2 =document.querySelector(".about2")
        btn2.classList.add("dis")
        btn.classList.add("hides")
    }
</script>
{% endblock %}