<!DOCTYPE html>
<html lang="en">{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nivedita Academy {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="../static/images/fav.jpeg" width="20px">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
    <link rel="preload" as="image" href="../static/images/5437683.jpg">
    <link rel="preload" as="image" href="../static/images/5437683.jpg">
    <link rel="preload" as="image" href="../static/images/5437683.jpg">
</head>
<body>
    <div class="preload " data-preaload>
        <p class="text">Loading...</p>
    </div>
    
    <nav class="anime2">
        <ul class="side-bar">
            <li onclick=show()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
            <li><a class="mnav" href="{% url 'home' %}">Home</a></li>
            <li><a class="mnav" href="{% url 'english' %}">Abroad Study</a></li>
            <li><a class="mnav" href="{% url 'compo' %}">Competitive Exams</a></li>
            <li><a class="mnav" href="{% url 'entrences' %}">Entrance Exams</a></li>
            <li><a class="mnav" href="{% url 'abouts' %}">About Us</a></li>
            <li><a class="mnav" href="{% url 'contacts' %}">Contact</a></li>
        </ul>
        <ul class="anime2">
            <li class="hide"><a href="{% url 'home' %}"><img src="{% static 'images/logo.jpeg' %}" alt=""></a></li>
            <li class="hide"><a href="{% url 'home' %}">Home</a></li>
            <li class="hide"><a href="{% url 'english' %}">Abroad Study</a></li>
            <li class="hide"><a href="{% url 'compo' %}">Competitive Exams</a></li>
            <li class="hide"><a href="{% url 'entrences' %}">Entrance Exams</a></li>
            <li class="hide"><a href="{% url 'abouts' %}">About Us</a></li>
            <li class="hide"><a href="{% url 'contacts' %}">Contact</a></li>
            <li class="mnav" onclick=sidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
        </ul>
    </nav>


    {% block content %}
    {% endblock %}


    <div class="basecon">
        <div class="basecon1">
            <h2>Nivedita Academy</h2>
            <p>29-B, Rohans Arcade, Third floor, <br> Thillai Nagar Main Road <br>(Oppt. to HP Petrol Bunk),Trichy-18</p>
            <p><b>Phone:</b><a href="tel://8754002473">+91 8754002473 </a> / <a href="tel://8754002475">+91 8754002475</a></p>
            <div class="basemail">
                <p><b>Mail:</b></p>
                <div>                    
                    <a href="mailto://centrehead@niveditaedu.info">centrehead@niveditaedu.info</a></p>
                </div>
            </div>
        </div>
        <div class="social">
            <h2>Social Contact</h2>
            <div class="somenu">
                <a href="//wa.me://918754002475" target="_blank"><img src="{% static 'images/icons8-whatsapp-750.png' %}" alt="Whatsapp"></a>
                <a href="" target="_blank"><img src="{% static 'images/icons8-instagram-750.png' %}" alt="Instagram"></a>
                <a href="" target="_blank"><img src="{% static 'images/icons8-linkedin-750.png' %}" alt="Linkedin"></a>
                <a href="" target="_blank"><img src="{% static 'images/icons8-youtube-750.png' %}" alt="Youtube"></a>
            </div>
        </div>
    </div>
    <footer>
        <p>Developed and Maintained by <b><a href="//niveditainfotech.com" target="_blank">Nivedita Infotech</a></b></p>
    </footer>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>