<!DOCTYPE html>
<html lang="en">{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nivedita Academy {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="nav-r">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'english' %}">Abroad Study</a></li>
                <li><a href="{% url 'compo' %}">Competitive Exams</a></li>
                <li><a href="{% url 'entrences' %}">Entrance Exams</a></li>
                <li><a href="{% url 'abouts' %}">About Us</a></li>
                <li><a href="{% url 'contacts' %}">Contact</a></li>
            </ul>
        </div>
        <div class="nav-l">
            <h3>Logo</h3>
        </div>
    </div>
    {% block content %}
    {% endblock %}

</body>
</html>