{% extends 'base.html' %}
{% load static %}
{% block title %} | English Couching {% endblock %}
{% block content %}
<div class="engmain">
   <div class="engban-l">
       <div class="bandiv">
           <h2>Abroad Studies</h2>
           <h4>&</h4>
           <h3>Spoken English</h3>
       </div>
       <p class="p1">Confidence in spoken English is not just a skill</p>
       <p class="p2">it's a passport to success in the global arena</p>
   </div>        
</div>
<div class="engsec2">
   <h2 class="engh2">Spoken English</h2>
   <div class="engcon">
       <div class="sec2-l">
           <div class="deform">
               <h3>Regisration details</h3>
               <form action="{% url 'forms' %}" method="post" autocomplete="off">
                   {% csrf_token %}
                   <label for="name">Name *</label>
                   <input type="text" name="name" id="name" required>
                   <label for="mail">Email *</label>
                   <input type="email" name="email" id="mail" required>
                   <label for="phone">Phone *</label>
                   <input type="text" name="phone" id="phone" required>
                   <label for="place">Place *</label>
                   <input type="text" name="place" id="place" required>
                   <label for="course">Course *</label>
                   <select class="ops" name="course" id="course" required>
                       <option value="">Select course</option>
                       <option value="Spoken English">Spoken English</option>
                       <option value="IELTS">IELTS</option>
                       <option value="OET">OET</option>
                       <option value="GMAT">GMAT</option>
                       <option value="PTE">PTE</option>
                   </select>
                   <button type="submit">Submit</button>
               </form>
               {% if messages %}
                   {% for message in messages %}
                       <div style="color: rgb(41, 206, 41);">{{message}}</div>
                   {% endfor %}
               {% endif %} 
           </div>
       </div>
       <div class="sec2-r">
           <div class="engcon2">
               <h3>Unlock Your Potential with Nivedita Academy's Spoken English Coaching in Trichy!</h3>
               <ul>
                   <li>Are you ready to take your communication skills to the next level? Look no further! Nivedita Academy is proud to be the No.1 choice for Spoken English Coaching in Trichy</li>
                   <li>Whether you're a beginner or looking to enhance your existing skills, our experienced instructors are here to guide you every step of the way.</li>
               </ul>
               <a href="tel://"><button>Take a free demo</button></a>
           </div>
       </div>
   </div>
</div> 

<div class="engsec3">
   <div class="sec3-l">
       <div class="sec3div1 sec3div2">
           <h3>Why Choose Nivedita Academy ?</h3>
           <ul>
               <li>Experienced Instructors</li>
               <li>Fluency Improvement</li>
               <li>Convenient & Flexible Timings</li>
               <li>Confidence Building</li>
               <li>Practical Approach</li>
               <li>Alumni Support</li>                    
           </ul>
       </div>
   </div>
   <!-- documents.pythonplatform@gmail.com -->
   <div class="sec3-r">
       <div class="sec3div1">
           <h3>Get complete coaching for spoken English with us.</h3>
           <h4>We provide Practical training for</h4>
           <div class="engrid">
               <p><img src="{% static 'images/reading_8896509.png' %}" alt="">Reading</p>
               <p><img src="{% static 'images/letter_1027530.png' %}" alt="">Writing</p>
               <p><img src="{% static 'images/listening_9145462.png' %}" alt="">Listening</p>
               <p><img src="{% static 'images/speaking_426426.png' %}" alt="">Speaking</p>
           </div>
       </div>
   </div>
</div> 

<div class="absec">
   <h2>Abroad Study</h2>
   <div class="abdiv">
       <div class="abdiv1">
           <p>Education is the passport to the future, for tomorrow belongs to those who prepare for it today.</p>
           <p>Get <span>7+ Band</span> with Nivedita Academy IELTS Masterclass</p>
           <img src="{% static 'images/5437683.jpg' %}" alt="">
       </div>
       <div class="abdiv2">
           <p>Why choose Nivedita Academy for IELTS</p>
           <ul>
               <li>Experienced Instructors</li>
               <li>Customized Curriculum</li>
               <li>Comprehensive Study Material</li>
               <li>Mock Tests</li>
               <li>Flexible Schedule</li>
               <li>Supportive Learning Environment</li>
               <li>A low student-to-instructor ratio </li>
           </ul>
       </div>
   </div>
   <p class="abp">Overall, choosing <span>IELTS / TOEFL /  PTE / GRE / GMAT</span> coaching at <span>Nivedita Academy</span> provides students with the necessary resources, guidance, and support to achieve their desired band scores and succeed in their academic or professional endeavors.</p>
</div>
<div class="iesec">
   <div class="iebox1">
       <h3>What is IELTS? </h3>
       <p>IELTS stands for the International English Language Testing System. It is a standardized test designed to assess the English language proficiency of non-native English speakers who wish to study or work in English-speaking countries. The test measures four language skills: listening, reading, writing, and speaking.</p>
   </div>
   <div class="iebox1">
       <h3>Type of Exams </h3>
       <p>IELTS Academic: This version is for individuals who want to study at an undergraduate or postgraduate level or for professional registration purposes in an English-speaking environment. It assesses whether you are ready to begin studying or training in an environment where English is the language used.</p>
       <p>IELTS General Training: This version is for individuals who are going to English-speaking countries for secondary education, work experience, or training programs. It is also a requirement for migration to </p>
       <p>Australia, Canada, New Zealand, and the UK. This version assesses basic survival skills in broad social and workplace contexts.</p>
   </div>
   <div class="iebox1">
       <h3>IELTS Score? </h3>
       <p>IELTS scores are typically reported on a scale from 0 to 9 for each section (listening, reading, writing, and speaking), as well as an overall band score, which is the average of the four section scores. Each band score corresponds to a level of English proficiency, ranging from non-user (band score 1) to expert (band score 9). Different institutions and organizations have their own score requirements for admission, employment, or immigration purposes</p>
   </div>
   <div class="iebox1">
       <h3>Score valid</h3>
       <p>Once you've taken the IELTS test, you can view your results online 13 days after the test date. The Test Report Form (TRF) is then valid for two years, allowing you to use it for various purposes such as university admissions, immigration applications, or employment opportunities during that time frame.</p>
   </div>
</div>
{% endblock %}